<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.echo"
        version="0.7.0">

    <name>Echo</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module name="Echo" src="www/echo.js">
        <clobbers target="Echo" />
    </js-module>

	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Echo">
				<param name="android-package" value="org.apache.cordova.plugin.Echo"/>
			</feature>
		</config-file>

		<source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />
		<!-- <source-file src="src/resources/log4j.properties" target-dir="src/org/apache/cordova/plugin" />	 -->
		<!-- <source-file src="src/android/libs/j2mod-2.5.5.jar" target-dir="src/org/apache/cordova/plugin" />	 -->
		<!-- <source-file src="src/android/libs/jSerialComm-2.5.1.jar" target-dir="src/org/apache/cordova/plugin" />	 -->
		<!-- <source-file src="src/android/libs/slf4j-api-1.7.21.jar" target-dir="src/org/apache/cordova/plugin" />	 -->
				
		<source-file src="src/android/libs/j2mod-2.5.5.jar" target-dir="libs" />
		<source-file src="src/android/libs/jSerialComm-2.5.1.jar" target-dir="libs" />
		<source-file src="src/android/libs/slf4j-api-1.7.21.jar" target-dir="libs" />
		
		<!-- <lib-file src="src/android/libs/j2mod-2.5.5.jar"/> -->
		<!-- <lib-file src="src/android/libs/jSerialComm-2.5.1.jar"/> -->
		<!-- <lib-file src="src/android/libs/slf4j-api-1.7.21.jar"/> -->
	</platform>
	
</plugin>