<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.echo"
        version="0.7.0">

    <name>Echo</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/echo.js" target="js/echo.js"/>

    <js-module name="Echo" src="www/echo.js">
        <clobbers target="Echo" />
    </js-module>

	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Echo">
				<param name="android-package" value="org.apache.cordova.plugin.Echo" onload="true"/>
			</feature>
		</config-file>

		<source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />
	</platform>

</plugin>